@import "tailwindcss";

@theme {
  --color-cream: #f5f2eb;
  --color-cream2: #ede9de;
  --color-ink: #1a1a16;
  --color-orange: #c8460a;
  --color-muted: #6b6b5e;

  --font-heading: var(--font-playfair);
  --font-mono: var(--font-ibm-plex-mono);
  --font-body: var(--font-dm-sans);
}

html {
  scroll-behavior: smooth;
  --nav-h: 96px;
}

body {
  background-color: #f5f2eb;
  color: #1a1a16;
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 300;
}

* {
  border-radius: 0 !important;
}

.input-underline {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(26, 26, 22);
  padding: 0.5rem 0;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  color: rgb(26, 26, 22);
  outline: none;
  width: 100%;
}

.input-underline::placeholder {
  color: rgba(26, 26, 22, 0.35);
}

.input-underline:focus {
  border-bottom-color: rgb(200, 70, 10);
}

.select-underline {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(26, 26, 22);
  padding: 0.5rem 0;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  color: rgb(26, 26, 22);
  outline: none;
  width: 100%;
  appearance: none;
  cursor: pointer;
}

.select-underline:focus {
  border-bottom-color: rgb(200, 70, 10);
}
